<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2026 Rhett Creighton. Licensed under Apache-2.0. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".WalletDisplayFixtureActivity" android:exported="false"
            android:excludeFromRecents="true" />
    </application>
</manifest>
